<div class="font-poppins">
  <header
    class="container mx-auto flex items-center justify-between py-4 border-b border-gray-700"
  >
    <div class="flex items-center">
      <!-- <img src="path-to-your-logo.png" alt="Logo" class="h-8 mr-3"> -->
      <span class="text-white font-semibold text-lg">Portfolio</span>
    </div>

    <nav class="hidden md:flex space-x-4">
      <!-- Navegação -->
      <a href="#" class="text-white hover:text-blue-500">Projects</a>
      <a href="#" class="text-white hover:text-blue-500">Technologies</a>
      <a href="#" class="text-white hover:text-blue-500">About me</a>
    </nav>

    <div class="flex space-x-4">
      <a href="#" class="text-white hover:text-blue-500"> EN-US </a>
    </div>
  </header>

  <!-- Projects Section -->
  <section class="container mx-auto px-4 py-8">
    <h2 class="text-3xl text-white font-bold mb-8">Projects</h2>

    <div class="grid md:grid-cols-2 gap-40 px-28">
      <div class="projects-card p-4">
        <div class="p-6">
          <img
            class="border-radius"
            src="../assets/4asset.png"
            alt="Project 1"
          />
        </div>
        <div class="p-6">
          <h3 class="text-center text-white text-3xl font-semibold">
            PROJECT 1
          </h3>
          <div class="mt-2 w-1/2 mx-auto h-1 project-title-border"></div>

          <p class="my-5 text-white font-semibold">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </p>
          <button class="main-button w-52 h-14 font-semibold">Look it up</button>
        </div>
      </div>

      <div class="projects-card p-4">
        <div class="p-6">
          <img
            class="border-radius"
            src="../assets/4asset.png"
            alt="Project 1"
          />
        </div>
        <div class="p-6">
          <h3 class="text-center text-white text-3xl font-semibold">
            PROJECT 1
          </h3>
          <div class="mt-2 w-1/2 mx-auto h-1 project-title-border"></div>

          <p class="text-white my-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </p>
          <button class="main-button w-52 h-14">Look it up</button>
        </div>
      </div>

      <div class="projects-card p-4">
        <div class="p-6">
          <img
            class="border-radius"
            src="../assets/4asset.png"
            alt="Project 1"
          />
        </div>
        <div class="p-6">
          <h3 class="text-center text-white text-3xl font-semibold">
            PROJECT 1
          </h3>
          <div class="mt-2 w-1/2 mx-auto h-1 project-title-border"></div>

          <p class="text-gray-400 my-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </p>
          <button class="main-button w-52 h-14">Look it up</button>
        </div>
      </div>

      <div class="projects-card p-4">
        <div class="p-6">
          <img
            class="border-radius"
            src="../assets/4asset.png"
            alt="Project 1"
          />
        </div>
        <div class="p-6">
          <h3 class="text-center text-white text-3xl font-semibold">
            PROJECT 1
          </h3>
          <div class="mt-2 w-1/2 mx-auto h-1 project-title-border"></div>

          <p class="text-gray-400 my-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </p>
          <button class="main-button w-52 h-14">Look it up</button>
        </div>
      </div>
    </div>
  </section>

  <!-- Technologies Section -->
  <section class="container mx-auto px-4 py-8">
    <h2 class="text-3xl text-white font-bold mb-8">Technologies</h2>
    <div class="space-y-4">
      <div>
        <div class="text-white">HTML</div>
        <div class="bg-gray-700 rounded-full h-2.5 dark:bg-gray-700">
          <div
            class="bg-linear-gradient h-2.5 rounded-full"
            style="width: 90%"
          ></div>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="text-center py-4">
    <p class="text-gray-400">&copy; 2023 Romano M. Stedile. All Rights Reserved.</p>
  </footer>
</div>
