<app-side-menu *ngIf="isSidebarOpen"></app-side-menu>
<div class="font-poppins overflow-x-hidden">
  <header class="container mx-auto flex items-center justify-between py-4 px-4 md:px-0">
    <div class="flex">
      <img src="../assets/logo.png" alt="Logo" width="50" height="45" />
    </div>

    <button class="md:hidden" (click)="toggleSidebar()">
      <i class="fas fa-bars text-3xl icon-link"></i>
    </button>

    <nav class="hidden md:flex space-x-4">
      <a href="#" class="nav-link text-white">Projects</a>
      <a href="#" class="nav-link text-white">Technologies</a>
      <a href="#" class="nav-link text-white">About me</a>
    </nav>
    <div class="hidden md:flex space-x-4">
      <label class="switch">
        <input type="checkbox" />
        <span class="slider"></span>
      </label>
      <span href="#" class="text-white"> EN-US </span>
    </div>
  </header>

  <section class="relative container mx-auto px-4 py-24 md:py-56">
    <div class="flex justify-between">
      <div>
        <div class="loader">
          <span class="loader-text">{{ title }}</span>
        </div>
        <div class="pt-10 text-white max-w-[850px] mx-auto text-3xl color-pink">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem
          ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <div class="flex space-x-5 py-4">
          <a href="https://linkedin.com/in/seu-perfil" class="icon-link">
            <i class="fab fa-linkedin text-4xl"></i>
          </a>
          <a
            href="https://github.com/seu-usuario"
            class="icon-link"
            target="_blank"
          >
            <i class="fab fa-github text-4xl"></i>
          </a>
          <a href="mailto:seuemail@example.com" class="icon-link">
            <i class="fas fa-envelope text-4xl"></i>
          </a>
          <a
            href="https://wa.me/5541987765507"
            class="icon-link"
            target="_blank"
          >
            <i class="fab fa-whatsapp text-4xl"></i>
          </a>
        </div>
      </div>
      <img
        src="../assets/drawing.svg"
        alt="Pattern"
        class="absolute right-36 top-96 transform translate-x-1/2 -translate-y-1/2"
      />
    </div>
  </section>
  <section class="container mx-auto px-4 py-20">
    <h2 class="text-3xl text-white font-bold mb-20">Projects</h2>

    <div class="grid md:grid-cols-2 gap-40 px-28">
      <div class="projects-card p-4">
        <div class="p-6">
          <img
            class="border-radius"
            src="../assets/4asset.png"
            alt="Project 1"
          />
        </div>
        <div class="p-6">
          <h3 class="text-center text-white text-3xl font-semibold">
            PROJECT 1
          </h3>
          <div class="mt-2 w-1/2 mx-auto h-1 project-title-border"></div>

          <p class="text-white my-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </p>
          <button class="main-button w-52 h-14">Look it up</button>
        </div>
      </div>

      <div class="projects-card p-4">
        <div class="p-6">
          <img
            class="border-radius"
            src="../assets/4asset.png"
            alt="Project 1"
          />
        </div>
        <div class="p-6">
          <h3 class="text-center text-white text-3xl font-semibold">
            PROJECT 1
          </h3>
          <div class="mt-2 w-1/2 mx-auto h-1 project-title-border"></div>

          <p class="text-white my-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </p>
          <button class="main-button w-52 h-14">Look it up</button>
        </div>
      </div>

      <div class="projects-card p-4">
        <div class="p-6">
          <img
            class="border-radius"
            src="../assets/4asset.png"
            alt="Project 1"
          />
        </div>
        <div class="p-6">
          <h3 class="text-center text-white text-3xl font-semibold">
            PROJECT 1
          </h3>
          <div class="mt-2 w-1/2 mx-auto h-1 project-title-border"></div>

          <p class="text-white my-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </p>
          <button class="main-button w-52 h-14">Look it up</button>
        </div>
      </div>

      <div class="projects-card p-4">
        <div class="p-6">
          <img
            class="border-radius"
            src="../assets/4asset.png"
            alt="Project 1"
          />
        </div>
        <div class="p-6">
          <h3 class="text-center text-white text-3xl font-semibold">
            PROJECT 1
          </h3>
          <div class="mt-2 w-1/2 mx-auto h-1 project-title-border"></div>

          <p class="text-white my-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit...
          </p>
          <button class="main-button w-52 h-14">Look it up</button>
        </div>
      </div>
    </div>
  </section>
  <section class="container mx-auto px-4 py-8">
    <h2 class="text-3xl text-white font-bold mb-8">Technologies</h2>
    <div class="space-y-4 mb-4">
      <div>
        <div class="flex justify-between">
          <div class="text-white">HTML</div>
          <div class="text-white">Advanced</div>
        </div>

        <div class="bg-gray-700 rounded-full h-2.5 dark:bg-gray-700">
          <div
            class="bg-linear-gradient h-2.5 rounded-full"
            style="width: 90%"
          ></div>
        </div>
      </div>
    </div>
    <div class="space-y-4">
      <div>
        <div class="flex justify-between">
          <div class="text-white">HTML</div>
          <div class="text-white">Advanced</div>
        </div>

        <div class="bg-gray-700 rounded-full h-2.5 dark:bg-gray-700">
          <div
            class="bg-linear-gradient h-2.5 rounded-full"
            style="width: 90%"
          ></div>
        </div>
      </div>
    </div>
  </section>
  <section class="timeline-container container mx-auto px-4 py-8">
    <h2 class="text-3xl text-white font-bold mb-8">About me</h2>

    <div
      class="timeline-navigation prev"
      *ngIf="showPrevArrow"
      (click)="scrollLeft()"
    >
      &#10094;
    </div>

    <div class="timeline-wrapper" #timelineWrapper>
      <div class="timeline">
        <div
          class="timeline-item"
          *ngFor="let item of timelineItems; let i = index"
        >
          <div class="timeline-date text-white">{{ item.date }}</div>
          <div class="timeline-dot"></div>
          <div class="timeline-content">{{ item.content }}</div>
        </div>
      </div>
      <div class="timeline-line"></div>
    </div>

    <div
      class="timeline-navigation next"
      *ngIf="showNextArrow"
      (click)="scrollRight()"
    >
      &#10095;
    </div>
  </section>

  <footer class="text-center py-4">
    <p class="text-gray-400">
      &copy; 2023 Romano M. Stedile. All Rights Reserved.
    </p>
  </footer>
</div>
