<div
  class="font-poppins sidebar font-bold text-2xl md:hidden"
  [class.open]="isOpen"
>
  <a href="#projects" class="block p-4 text-white hover:text-blue-500"
    >Projects</a
  >
  <a href="#technologies" class="block p-4 text-white hover:text-blue-500"
    >Technologies</a
  >
  <a href="#about-me" class="block p-4 text-white hover:text-blue-500"
    >About me</a
  >
  <div class="md:flex p-4">
    <label class="switch">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
    <a href="#" class="ml-2 text-white hover:text-blue-500"> EN-US </a>
  </div>
</div>
