<div
  class="font-poppins sidebar font-bold text-2xl md:hidden"
  [class.open]="isOpen"
>
  <a href="#projects" class="block p-4 text-white hover:text-blue-500"
    >{{ "HEADER.PROJECTS" | translate }}</a
  >
  <a href="#technologies" class="block p-4 text-white hover:text-blue-500"
    >{{ "HEADER.TECHNOLOGIES" | translate }}</a
  >
  <a href="#about-me" class="block p-4 text-white hover:text-blue-500"
    >{{ "HEADER.ABOUT_ME" | translate }}</a
  >
  <div class="md:flex p-4">
    <label class="switch">
      <input type="checkbox" (change)="onLanguageSwitchChange($event)" />
      <span class="slider"></span>
    </label>
    <a href="#" class="ml-2 text-white hover:text-blue-500">{{ currentLang === 'en' ? 'EN-US' : 'PT-BR' }}</a>
  </div>
</div>
