@import "../../../styles.scss";

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 270px;
  opacity: 90%;
  background: linear-gradient(to right, $color-linear-gradient);
  z-index: 5000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}
